<h1 class="title">Participants</h1>

<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Class code</th>
        <th>Section</th>
        <th>Passcode</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| -%>
        <tr>
          <td><%= participant.first_name %></td>
          <td><%= participant.last_name %></td>
          <td><%= participant.email %></td>
          <td><%= participant.class_code %></td>
          <td><%= participant.section %></td>
          <td><%= participant.passcode %></td>
          <td>
            <div class="buttons">
              <%= link_to 'View', participant, class: "button is-small" %>
              <%= link_to 'Edit', edit_participant_path(participant), class: "button is-small" %>
              <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' },
                class: "button is-small is-danger" %>
            </div>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
